.experience {
    background-color: #121212;
    color: #ffffff;
    padding: 4rem 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.timeline-item {
    border-left: 2px solid #00d4ff; 
    padding-left: 2rem;
    margin-bottom: 3rem;
    position: relative;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -9px;
    top: 5px;
    width: 16px;
    height: 16px;
    background: #00d4ff;
    border-radius: 50%;
}