/*app.component.css */
.navbar {
    display: flex;
    justify-content: center; /* Centers the Menu */
    gap: 2rem; /* Adds Space between links */
    padding: 1.5rem;
    background-color: #1a1a1a;
    border-bottom: 1px solid #333;
    /* Sticky Positioning Logic */
    position: sticky; /* Keeps element in flow but 'sticks' it */
    top: 0; /* Pins it to the very top of the view port */
    z-index: 1000; /* Ensures it stays on top of the project cards */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Adds depth when scrolling */
}

.navbar a {
    color: #00d2ff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a :hover {
    color: #ffffff; /* Links turn white when hovered */
    text-decoration: underline;
}
